<ion-header>
  <ion-toolbar>
    <ion-title>Tamanhos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/login" routerDirection="login">Sair</ion-button>
</ion-content>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Escolha o tamanho da Pizza</ion-label>
      <ion-select [(ngModel)]="selected" value="brown" okText="Ok" cancelText="Cancelar">
        <ion-select-option *ngFor="let tamanho of tamanhos" value={{tamanho.id}}>{{tamanho.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button size="small" color="secondary" routerLink="/sabores" routerDirection="sabores">Escolha o sabor</ion-button>
</ion-content>