<ion-content padding class="loginPage" scroll="false">
  <ion-grid style height="100%">
    <ion-row justify-content-center align-items-centerstyle height="80%">
      <ion-grid class="login-container">
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="login-form">
          <ion-row align-items-center>
            <ion-col>
              <img src="/assets/imgs/logo.jpg" width="200px" height="200px">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list in set>
                <ion-item>
                  <ion-input placeholder="Usuário" name="username" id="loginField" type="text" required
                    [(ngModel)]="username">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input placeholder="Senha" name="password" id="passwordField" type="password" required
                    [(ngModel)]="password">
                  </ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <ion-button (click)="login()">Entrar</ion-button>
              <!-- <ion-button routerLink="/logado" routerDirection="logado">Entrar</ion-button> -->
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>