
    page-login {
        .loginPage{
            background: url("/assets/imgs/pizzaLogin.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .login-container {
            border-radius: 10px;
            opacity: 0.8;
            width: 80%;
            text-align: center;
            background-color: white;
         }
         .login-logo{
             vertical-align: center;
             text-align: center;
         }
         .login-form{
             opacity: none !important;
         }
     }
 