<ion-header>
  <ion-toolbar>
    <ion-title>sabores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/logado" routerDirection="logado">Voltar</ion-button>
</ion-content>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Escolha os sabores da Pizza</ion-label>
      <ion-select multiple="true" value="brown" okText="Ok" cancelText="Cancelar">
        <ion-select-option *ngFor="let sabor of sabores" value={{sabor.id}}>{{sabor.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>